<h2>All Posts</h2>
<% @posts.each do |post| %>
  <div>
    <%= post.user.name %>
    <%= post.body %>
    <%= post.created_at %>
  </div>
<% end %>

<% if user_signed_in? %>
  <h2>Add Post</h2>
  <%= form_with model: @post do |f| %>
    <%= f.text_field :body %>
    <%= f.submit "Save" %>
  <% end %>
<% end %>
